.hand {
	//background: #ccc;
    padding: 5px;
    //border: solid 1px black; 
    position: relative;
    
}
.backG {
position: absolute;


}
.table {
position: relative;
top: 20px;
left: 30px;
background: #006400;
width: 610px;
height: 480px;
}

.playerH {
  top: 200px;
  overflow: hidden;
  height: 120px;
}
.dealerH {
  top: 65px;
  
}
.card {
  margin-right: 5px;
  margin-bottom: 30px;
  
}

.button {
    height: 40px;
    width: 80px;
    border-radius: 5px;
    background-color: #276E50;
    text-align: center;
    color: #FFFFFF;
    font-family: Verdana, Arial, Sans-Serif;
    opacity: 0.5;
  padding: 0 0 0 0;
}

.newB {
left: 280px;
position: relative;
width: 120px;
}
.moreB {
left: 240px;
position: relative;
}
.stopB {
left: 280px;
position: relative;
}
